PORT=4004
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
API_KEY_GEMINI=your_google_gemini_api_key
Kafka_Broker=localhost:9092
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_app_password
